/*dhdhdhhdf*/
h4{
    color: brown;font-style: oblique;
}
li{
    color: blue;font-style: italic;
}
.abcd{
    color: #60ca35;
}
select{
    color: #c45766;background-color: #8a158a;
}
body{
    background-color: #334d1e60;font-family: Geneva, Tahoma, sans-serif;font-size: 10px;

}
div{
    display: block;
}
table{
    border: 3px solid red;
}